.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.right{
    display: flex;
    align-content: center;
}

.right h5 {
    margin-left:13px ;
    margin-right: 13px;
}

.Avatar_Navbar{
width: 35px;
height: 35px;
margin-top: 11px;
margin-left: 13px;
}